<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Pokedex</h1>
    <div class="poke-container" id="poke-container">
      
      <div class="pokemon" style="background-color:{{object_pokemon.color_theme}};">
        <div class="img-container">
            <img src="{{object_pokemon.gif}}" alt="">
        </div>
            <div class="info">
              <span class="number">#{{object_pokemon.id}}</span>
              <h3 class="name">{{object_pokemon.name}}</h3>
            <small class="type">Type: 
              <span>{{object_pokemon.type}}</span> 
            </small>
            </div>
      </div>
    </div>

    <!-- Design inspired by this Dribbble shot: https://dribbble.com/shots/5611109--Pokemon -->



  </body>
</html>
